{% load static %}
<link href="{% static 'css/tailwind.css' %}" rel="stylesheet">

<body>
    {% include "polls/toolbar.html" %}
    {% include "polls/header.html" with content="Home" %}
    {% if question_list %}
    <div class="flex-row ml-10">
    <h1 class="font-bold text-3xl mb-2">Latest questions</h1>
        <ul>
            {% for question in question_list %}
                <li><a class="text-blue-300 underline visited:text-orange-400 md:text-lg sm:text-4xl" href="{% url 'polls:details' question.id %}">{{question.question_text}}</a></li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
        <p>No polls avaliable.</p>
    {% endif %}
</body>
