<div class="flex-row pt-2 md:pt-0 md:flex bg-django-900 min-h-18 items-center ps-15 ">
    <aside class="flex space-x-4 pb-2 pt-2">
        <a class="font-bold text-4xl text-white" href="{% url "polls:index" %}">Polls</a>
        <p class="max-w-50 font-bold text-xs text-django-500 pt-1">The introduction to the Django framework.</p>
    </aside>
    <nav class="flex space-x-4 justify-center pb-2">
        <a class="text-white hover:text-django-600 font-bold text-xs" href="{% url "polls:index" %}">HOME</a>
        <a class="text-white hover:text-django-600 font-bold text-xs" href="{% url "polls:create" %}">CREATE</a>
        {% if user.username %}
        <a class="text-white hover:text-django-600 font-bold text-xs flex" href="{% url "polls:logout" %}">
            {{ user.username }}<svg class="ml-1 size-5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-log-out"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"/><polyline points="16 17 21 12 16 7"/><line x1="21" x2="9" y1="12" y2="12"/></svg>
        </a>
        {% else %}
        <a class="text-white hover:text-django-600 font-bold text-xs" href="{% url "polls:login" %}">LOGIN/REGISTER</a>
        {% endif %}
        <script>
            // highlight link to current page
            const navOptions = document.getElementsByTagName('nav')[0].getElementsByTagName('a')
            for (let option of navOptions) {
                console.log(option.getAttribute("href"))
                console.log(window.location.pathname)
                if (option.getAttribute("href") == window.location.pathname) {
                    option.className = "text-django-500 hover:text-django-600 font-bold text-sm"
                }
            }
        </script>
    </nav>
</div>
